body {
    width: 400px;
    height: 400px;
    text-align: center;
}

table {
    text-align: center;
    width: 99%;
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    width: 33%;
    max-width: 140px;
    border: 1px solid black;
    word-wrap: break-word;
}

#currentSite {
    background-color: red;
}

thead {
    color: white;
    background: blue;
}

#totalTime {
	font-size: 1.2em;
	padding: 6px;
	font-weight: bold;
}
